extends layout

block content
    h1= title
    p Welcome to #{title}
    div.container
        -if(user)
            div.row
                div.col-lg-1
                div.col-lg-9
                    form.form-horizontal(method='post')
                        div.input-group
                            input.form-control(id='content' name="content")
                            span.input-group-btn
                                button.btn.btn-success 发表
                div.col-lg-2
        br
        br
        div.row
            div.col-lg-1
                div
            div.col-lg-9
                -var a = posts
                    each i in a
                        p=i.username
                        p=i.content
                        p=i.post_time
            div.col-lg-2
                div
