extends layout

block content
    h1= title
    p Welcome to #{title}
    div.container
        -if(user)
            div.row
                div.col-lg-1
                div.col-lg-9
                    form.form-horizontal(method='post')
                        div.input-group
                            input.form-control(id='content' name="content")
                            span.input-group-btn
                                button.btn.btn-success 发表
                div.col-lg-2
        br
        div.row
            div.col-lg-1
                div
            div.col-lg-9
                -var a = posts
                    each i in a
                        div(style="margin:20px")
                            h5(style="margin-bottom:5px")=i.username+' 说:'
                            p(style="margin:0px")=i.content
                            small(style="color:#888;margin-top:0px")=i.post_time
            div.col-lg-2
                div
